<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://portal.ingenieria.usac.edu.gt/images/2019/logo/logo-fiusac.png " height="20%" width="20%"
      style="margin-left: 20px;" alt=""></a>

</nav>

<div class="content" role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>Codigo Fuente</h4>
        <div style="margin-left: 10px; margin-right: 10px;border-color: white;">
          <ngx-codemirror [options]="options_entrada" [(ngModel)]="entrada" [disabled]="false" [autoFocus]="true">
          </ngx-codemirror>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h4>Codigo Traducido sin Anidamiento</h4>
        <div style=" margin-right: 10px;">
          <ngx-codemirror [options]="options_salida" [(ngModel)]="traduccion"></ngx-codemirror>
        </div>
      </div>
    </div>
    <!-- 
        <div class="row" style="margin-top: 25px;">

      <div class="button" style="margin-left:auto; margin-right:auto; position: relative;">
        <button type="button" class="btn btn-success" (click)="traducir()">Traducir Anidadas</button>
        <button type="button" class="btn btn-success" (click)="ejecutar()" style="margin-left: 20px;">Ejecutar
          Interprete</button>
        <button type="button" class="btn btn-success" (click)="ejecutarTraduccion()" style="margin-left: 20px;">Ejecutar
          Traduccion</button>
        <button type="button" class="btn btn-success" routerLink='/reportes'
          style="margin-left: 20px;">Reportes</button>
      </div>
    </div>

    -->
    <div class="row" style="margin-top: 25px;">
      <div class="button" style="margin-left:auto; margin-right:auto; position: relative;">
        <button type="button" class="btn btn-success" (click)="traducir()">Traducir Anidadas</button>
        <button type="button" class="btn btn-primary" (click)="generarC3D()" style="margin-left: 20px;">Generar C3D</button>
        <button type="button" class="btn btn-primary" (click)="ejecutarTraduccion()"
          style="margin-left: 20px;">Optimizar C3D</button>
          <button type="button" class="btn btn-success" routerLink='/reportes'
          style="margin-left: 20px;">Reportes</button>
      </div>
    </div>

    <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
      <div class="col-12 col-md-6">
        <h4>Salida C3D</h4>
        <div style=" margin-right: 10px;">
          <ngx-codemirror [options]="options_c3d" [(ngModel)]="txt_c3d"></ngx-codemirror>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <h4>Salida C3D Optimizado</h4>
        <div style=" margin-right: 10px;">
          <ngx-codemirror [options]="options_c3d" [(ngModel)]="txt_c3d_optimizado"></ngx-codemirror>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
      <h4>Consola de Ejecucion Interprete</h4>
      <div class="col-12 col-md-12">
        <div style="height : 90%; margin-left: 10px; margin-right: 10px;">
          <ngx-codemirror [options]="options_consola" [(ngModel)]="consola_salida" [disabled]="true" [autoFocus]="true">
          </ngx-codemirror>
        </div>
      </div>
    </div>
  
  </div>
  <router-outlet></router-outlet>
</div>